body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

li {
    cursor: pointer;
    margin-bottom: 8px;
}

.concluida {
    text-decoration: line-through;
    color: gray;
}
